@import "variables/colors.css";
@import "variables/spacing.css";

.header {
    background-color: var(--light-2);
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.header li a {
    border-left: 1px solid var(--light-3);
    display: block;
    padding: var(--spacing-unit-s);
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: var(--dark-2);
    color: var(--light-2);
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--dark-3);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--dark-3);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 800px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}